* {

}

body {
  display: flex;
  flex-direction: column;
  background-color: purple;
}

.App {
  text-align: center;
  background-color: pink;
}

.App-link {
  color: #61dafb;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.not-completed {
  cursor: pointer;
}

.not-completed:hover {
  color: blue;
}

.login-page {
  display: flex;
  flex-direction: column;
  background-color: teal;
}

.puppies {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(130, 130, 255);
}